---
// interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }

// const { href, title, body } = Astro.props;
---

<div class="relative flex-1">
	<!-- <div class="absolute top-0 left-0 bg-slate-300 max-w-[285px] w-full min-h-[326px] rounded-[14px] p-10"></div> -->

	<div class="relative z-[1] bg-red-200 p-10 max-w-[285px] w-full min-h-[326px] ml-auto mt-6  rounded-[14px]">
		Card
	</div>
</div>

<!-- <li class="link-card">
	<a href={href}>
		<h2>
			{title}
			<span>&rarr;</span>
		</h2>
		<p>
			{body}
		</p>
	</a>
</li> -->

