---
interface Props {
	cardColor?: "shadow-card-solid-1" | "shadow-card-solid-2" | "shadow-card-solid-3";
	title: string;
	body: string;
	href: string;
}

const { cardColor = "", title, body } = Astro.props;
---

<div class="flex-1 w-full">
	<div class={`bg-white p-10 max-w-[285px] w-full min-h-[326px] rounded-[14px] ${cardColor ? `ml-[24px] ${cardColor}` : "ml-0 max-w-full"}`}>
		<p>All devices come with free delivery or pickup as standard. See information on available shopping options for your location.</p>
	</div>
</div>

